<form class="card">
  <h1 class="center">Sign Up</h1>
  <div class="section">
    <label>Full Name</label>
    {{#if this.user.errors.fullName}}
      {{input class="isInValid" disabled=this.user.isSaving value=this.user.fullName}}
      {{#each this.user.errors.fullName as |error|}}
        <div class="message-box message-box--error">
          <p>{{error.message}}</p>
        </div>
      {{/each}}
    {{else}}
      {{input disabled=this.user.isSaving value=this.user.fullName}}
    {{/if}}
  </div>
  <div class="section">
    <label>Email</label>
    {{#if this.user.errors.email}}
      {{input class="isInValid" disabled=this.user.isSaving value=this.user.email}}
      {{#each this.user.errors.email as |error|}}
        <div class="message-box message-box--error">
          <p>{{error.message}}</p>
        </div>
      {{/each}}
    {{else}}
      {{input disabled=this.user.isSaving value=this.user.email}}
    {{/if}}
  </div>
  <div class="section">
    <label>Address</label>
    {{#if this.user.errors.address}}
      {{input class="isInValid" disabled=this.user.isSaving value=this.user.address}}
      {{#each this.user.errors.address as |error|}}
        <div class="message-box message-box--error">
          <p>{{error.message}}</p>
        </div>
      {{/each}}
    {{else}}
      {{input disabled=this.user.isSaving value=this.user.address}}
    {{/if}}
  </div>
  <div class="section">
    <label>Password</label>
    {{#if this.user.errors.password}}
      {{input type="password" class="isInValid" disabled=this.user.isSaving value=this.user.password}}
      {{#each this.user.errors.password as |error|}}
        <div class="message-box message-box--error">
          <p>{{error.message}}</p>
        </div>
      {{/each}}
    {{else}}
      {{input type="password" disabled=this.user.isSaving value=this.user.password}}
    {{/if}}
  </div>
  <div class="flex align-items__center">
    <div class="flex-grow__1">
      Already have an account ? <LinkTo @route="sign-in">Sign In</LinkTo>.
    </div>
    <button class="button" disabled={{this.user.isSaving}} >
      {{if this.user.isSaving "Signing up..." "Sign up"}}
    </button>
  </div>
</form>
