<div class="card">
  <div class="grid grid-cols__2 grid-row-gap__2 grid-col-gap__2">
    <div>
      <h3>Credit Card</h3>
      <div class="grid grid-cols__2 grid-row-gap__1 grid-col-gap__1">
        <div class="grid-col__1-3">
          <label for="">Name</label>
          {{input type="text" name="" value=this.cardHolderName}}
        </div>
        <div class="grid-col__1-3">
          <label for="">Card number</label>
          {{input type="text" value=this.cardNumer}}
        </div>
        <div>
          <label>
            Expirary Date
          </label>
          {{pikaday-input format="MM/YY" onSelection=(action 'setDate')}}
        </div>
        <div>
          <label >CVV</label>
          {{input type="text" value=this.cvv}}
        </div>
      </div>
    </div>
    <div>
      <h3>Withdraw Funds</h3>
      <p>Amount:</p>
      <div class="flex section">
        <div class="currency">
          €
        </div>
        {{input value=this.amount type="number" step=".01" placeholder="0"}}
      </div>
      <button class="button">Withdraw Funds</button>
    </div>
  </div>
</div>
